@model  _036_MoviesMvcWissen.Models.ViewModels.MoviesIndexViewModel
@*@model  List<_036_MoviesMvcWissen.Entities.Movie>*@
@using _036_MoviesMvcWissen.Helpers
@{
    ViewBag.Title = "Movies";
}
<br />
@*@Html.Action("Welcome")*@
@{
    Html.RenderAction("Welcome");
}
<br />
<h3><i>@ViewBag.Title</i></h3>

@Html.ActionLink("Movie Reports","Movies","Reports")
<br />
<br />

@using (Html.BeginForm("Index","Movies",FormMethod.Get))
{
    <table class="table">
        <tr>
            <td style="width:25%">Production Year</td>
            <td>@Html.DropDownList("YearId", Model.Years, new { @class = "form-control" })</td>

        </tr>
        <tr>
            <td colspan="2">
                @Html.Button("Ara","btn btn-primary","submit")
            </td>
        </tr>
    </table>
}

<a href="~/Movies/Add">Add Movie</a>

<label class="text-success">@TempData["Info"]</label>

<table class="table">
    <tr>
        <td colspan="4" style="color:red; text-align:right;">@ViewData["count"] records found @*@Model.Count Records Found*@</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <b>Name</b>
        </td>
        <td>
            <b>Production Year</b>
        </td>
        <td>
            <b>Box Office Return</b>
        </td>
    </tr>
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>
                @Html.ActionLink(" ", "Details", new { id = movie.Id }, new { @class = "fa fa-info text-warning" })
                &nbsp;
                @Html.ActionLink(" ", "Edit", new { id = movie.Id }, new { @class = "fa fa-pencil-square-o text-success" })
                &nbsp;
                @Html.ActionLink(" ", "Delete", new { id = movie.Id }, new { @class = "fa fa-trash text-danger" })
            </td>
            <td>
                <img src="../../@movie.FilePath" width="200" height="200" onerror="this.parentElement.innerHTML = '';" />
                @*<img src="../../@movie.FilePath" class="img-thumbnail" />*@
            </td>
            <td>
                @movie.Name
            </td>
            <td>
                @movie.ProductionYear
            </td>
            <td>
                @movie.BoxOfficeReturn
            </td>
        </tr>
    }


</table>

