@model IEnumerable<_036_MoviesMvcWissen.Models.Demos.Templates.Person>

@{
    ViewBag.Title = "GetPeople";
}

<h2>GetPeople</h2>

<p>
    @Html.ActionLink("CreatePeople", "Demos")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduateFromUniversity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentityNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate, "Date")
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraduateFromUniversity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentityNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.ActionLink("GetPersonDetails", "GetPersonDetails",new { id=item.Id })
        </td>

    </tr>
}

</table>
